body {
    margin: 0;
}

.login-card {
    margin: 0;
    padding: 0;
}

.login-form {
    text-align: center;
    margin-top: 150px;
}

.login-form>input {
    width: 250px;
    margin: 10px;
    height: 25px;
    cursor: pointer;
    font-size: 15px;
}

.login-form>button {
    width: 150px;
    height: 35px;
    margin: 10px;
    font-size: 15px;
    background-color: #2290ff;
    color: white;
    border: 0;
    font-weight: 700;
    cursor: pointer;
}

.login-form>button:hover {
    background-color: #30cc00;
}